/* image a little smaller */
img{
    height: 150px;
}

/* larger font size of the recipe description */
.description{
    font-size: 20px;
}

/* style the cooking time */
#cook-time{
    font-weight: bold;
}

/* change bullet points to square */
.ingredients li{
    list-style: square;
}

/* time for each preparation step appear gray */
p.time{
    color: gray;
}

/* make link a different color */
.external-link{
    color: seagreen;
}

/* change font */
h1, h2, p, li{
    font-family: Helvetica, sans-serif;
}