th,
.syntax{
    font-family: "M PLUS Code Latin";
    text-align: center;
}

table{
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    background-color: beige;
    border: 3px solid lightblue;
}

th,
td{
    padding: 20px;
    border: 1px solid lightslategray;
}

td{
    font-family: Mynerve;
}

thead{
    font-style: bold;
}

body{
    background-color: azure;
}

h1{
    text-align: center;
    letter-spacing: 3px;
    padding: 50px;
    font-family: Mynerve;
}

p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.syntax{
    color: red;
}

th{
    font-size: larger;
    font-style: bold;
}