body{
    background-color: black;
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    opacity: 0.9;
    text-align: center;
}

/* header */

header{
    display: flex;
    height: 69px;
    width: 100%;
    /* position: fixed; */
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid seashell;
}
.header-logo{
    height: 50px;
    padding-left: 10px;
}

.header-logo img{
    height: 50px;
    width: auto;
}

.navigation{
    text-decoration: underline;
}

.nav-list{
    justify-content: center;
    list-style-type: none;
    display: inline-flex;
    padding: 0 10px;
}

.nav-item{
    padding: 0 10px;
}

/* mission statement */

.mission-container{
    background-image: url("./images/img-mission-background.jpg");
    height: 700px;
    width: 1200px;
    display: flex;
    align-items: center;
    align-content: center;
    background-repeat: no-repeat;
    margin: 0 auto;
    width: 1200px;
    align-items: center;
    
}

.mission-text{
    width: 1200px;
    height: auto;
    background-color: black;
}

/* Tea of the Month */

.container-tea-month{
    width: 1000px;
    margin: 0 auto;
    margin-top: 35px;
}

.container-images{
    width: 1200px;
    display: flex;
    flex-wrap: wrap;    
    justify-content: center;
    margin: 10px auto;
    column-gap: 2em;

}

.single-image img{
    height: 200px;
    width: 300px;
}

.single-image h4{
    margin-top: 10px;
}

/* Locations banner */
.container-location{
    width: 1200px;
    height: 500px;
    margin: 0 auto;
    background-image: url(./images/img-locations-background.jpg);
}

.container-location h2{
    padding-bottom: 15px;
    padding-top: 60px;
    margin: 0;
}

.locations{
    display: inline-flex;
    column-gap: 40px;
}

.location-block{
    width: 300px;
    height: 300px;
    opacity: 1;
    background-color: black;
    display: flex;
    flex-direction: column;
}

footer{
    height: 200px;
    width: 1200px;
    margin: 0 auto;
}

.contact-info{
    padding-top: 10px;
}

#copyright{
    text-align: left;
}