body {
    margin: 0 2rem;
}

nav {
    display: flex;
    align-items: center;
}

#logo {
    font-family: 'Allura', cursive;
    font-weight: 500;
    font-size: 3.5rem;
}

.navigation-items {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    margin: 0 8rem;
    padding-left: 0;
}

.navigation-item {
    /* margin: 0 1rem; */
    /* width: 75px; */
    text-align: center;
    text-decoration: none;
    font-size: 1.15rem;
}

.sub-button {
    background: #5E5DF0;
    border-radius: 999px;
    box-shadow: #5E5DF0 0 10px 20px -10px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    /* font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif; */
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 25px;
    width: auto;
    border: 0;
}
